@font-face {
    font-family: 'SerlingGalleria';
    src: url(../fonts/SerlingGalleria.otf) format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'SerlingGalleria';
    src: url(../fonts/SerlingGalleriaItalic.otf) format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'SerlingGalleria';
    src: url(../fonts/SerlingGalleriaBold.otf) format('truetype');
    font-style: bold;
}

@font-face {
    font-family: 'georgia';
    src: url(../fonts/georgia.otf) format('truetype');
    font-style: normal;
}
