/* General Styling */
@media only screen and (min-width: 768px) {
    #hometitle:hover {
        letter-spacing: 1em;
    }
    #soup:hover {
        letter-spacing: 1em;
    }
    #entree:hover {
        letter-spacing: 1em;
    }
    #dessert:hover {
        letter-spacing: 1em;
    }  
    
    h1 {
        font-family: 'Georgia';
        font-style: bold;
        font-size: 70px;
        color: white;
        text-align: center
    }
    
    h2 {
        font-family: 'Georgia';
        font-style: normal;
        font-size: 40px;
        color: #024873;
        text-align: center;
    }
    
    h3 {
        font-family: 'SerlingGalleria';
        font-style: normal;
        font-size: 30px;
        color: #024873;
    }

    h6 {
        font-family: 'SerlingGalleria';
        font-style: normal;
        font-size: 15px;
        color: #024873;
    }
    
    ul {
        display: inline-block;
        position: left;
        color: #024873;
        font-family: 'Optima';
        font-size: 18px;
        line-height: 25px;
        text-align: left;
        padding-left: 2em;
        padding-right: 2em;
        min-width: 700px;
    }
    
}

body {
    text-align: center;
}

h1 {
    font-family: 'SerlingGalleria';
    font-style: bold;
    font-size: 70px;
    color: white;
    text-align: center;
}

h2 {
    font-family: 'SerlingGalleria';
    font-style: normal;
    font-size: 40px;
    color: #024873;
    text-align: center;
}

h3 {
    font-family: 'SerlingGalleria';
    font-style: normal;
    font-size: 30px;
    color: #024873;
}

h6 {
    font-family: 'SerlingGalleria';
    font-style: normal;
    font-size: 15px;
    color: #024873;
}

p {
    color: #024873;
    display: inline-block;
    position: left;
    font-family: 'Optima';
    font-size: 18px;
    line-height: 25px;
    text-align: left;
}

ul {
    display: inline-block;
    position: left;
    color: #024873;
    font-family: 'Optima';
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;
    max-width: 700px;
}

ol {
    display: inline-block;
    position: left;
    color: #024873;
    font-family: 'Optima';
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;
    max-width: 700px;
}

.text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.5em;
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.recipetext {
    display: inline-block;
    display: left;
    text-align: left;
    border: 2px solid #024873;
    border-radius: 0.5em;
    padding: 1em;
    padding-top: .2em;
    padding-bottom: .2em;
}

/* Homepage Styling */
#hometitle {
    background-color: #0388a6;
}

#image {
    float: right;
    padding-right: 2em;
    padding-left: 1em;
}

#texts {
    
    float: left;
    padding-right: 1em;
    max-width: 700px;
}

.homeline {
    border: 1.25px solid #0388a6;
}

.contact {
    display: inline-block;
    text-align: center;
    border: 2px solid #024873;
    border-radius: 0.5em;
    padding: 1em;
    padding-top: .2em;
    padding-bottom: .2em;
}

form {
    color: #024873;
    font-family: 'SerlingGalleriaBold';
    text-align: center;
}

/* Soups Styling */
#soup {
    background-color: #d95a4e;
}

.soupline {
    border: 1.25px solid #d95a4e;
}

/* Entrees Styling */
#entree {
    background-color: #03658c;
}

.entreeline {
    border: 1.25px solid #03658c;
}

/* Desserts Styling */
#dessert {
    background-color: #f28972;
}

.dessertline {
    border: 1.25px solid #f28972;
}

/* Menu Styling */
header {
    position: fixed;
    background-color: white;
    width: 99%;
    height: 4em;
    top: 0px;
    font-family: 'SerlingGalleria';
    text-align: center;
    border: 5px solid white;
    font-size: 20px;
}

.dropdown-item {
    font-size: 15px;
}

#home-button {
    display: inline-block;
    border: 0em;
    margin: 1em .2em;
    padding: 0.5em 1em;
    border-radius: 1em;
    min-width: 2em;
    text-align: center;
}

#soup-button-dropdown {
    display: inline-block;
    border: 0em;
    margin: 1em .2em;
    padding: 0.5em 1em;
    border-radius: 1em;
    min-width: 2em;
    text-align: center;
}

#entree-button-dropdown {
    display: inline-block;
    border: 0em;
    margin: 1em .2em;
    padding: 0.5em 1em;
    border-radius: 1em;
    min-width: 2em;
    text-align: center;
}

#dessert-button-dropdown {
    display: inline-block;
    border: 0em;
    margin: 1em .2em;
    padding: 0.5em 1em;
    border-radius: 1em;
    min-width: 2em;
    text-align: center;
}

/* Link Style */
#home-button a {
    color: #024873;
    text-decoration: none;
}

#soup-button-dropdown a {
    color: #024873;
    text-decoration: none;
}

#entree-button-dropdown a {
    color: #024873;
    text-decoration: none;
}

#dessert-button-dropdown a {
    color: #024873;
    text-decoration: none;
}

/* Hover Styling */
#home-button a:hover {
    color: #0388a6;
}

#soup-button-dropdown a:hover {
    color: #d95a4e;
}

#entree-button-dropdown a:hover {
    color: #03658c;
}

#dessert-button-dropdown a:hover {
    color: #f28972;
}

/* Back to Top Style */
.back-button a {
    text-decoration: none;
    font-family: 'SerlingGalleria';
    font-size: 15px;
    border: 5px solid #024873;
    background-color: #024873;
    color: white;
    margin: 1em .2em;
    padding: 0.5em 1em;
    border-radius: 1em;
    min-width: 2em;
    text-align: right;
}

.back-button a:hover {
    background-color: #0388a6;
    border: 5px solid #0388a6;
}

/* Dropdown */
.dropdown {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin: 0.5em 0 0 0;
    z-index: 1;
    border-radius: 0em 0em 1em 1em;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a{
    color: #024873;
}

/* Dropdown Item Display Styling */
.dropdown-item {
    background-color: white;
    border: 0em;
    display: block;
    text-align: center;
    margin-left: -4.25em;
    padding: 0.5em .5em 0.5em .5em;
    min-width: 3.5em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    background-color: #dcdcdc;
}

.dropdown:hover {
    border-radius: 1em 1em 0em 0em;
}

